<div class="search-section input-group">
        <input type="text">
        <button><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
    </div>
    <hr>
    <nav>
        <mat-list>
                <mat-list-item>
                        <a routerLink="/">Home</a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
            <mat-list-item>
                <a href="">Inicio</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a href="">Bares</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a href="">Quienes somos</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a href="">Contactto</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a routerLink="/pricing">Precios</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                    <a routerLink="/how-it-works">How it Works</a>
                </mat-list-item>
            <mat-divider></mat-divider>
            
        </mat-list>
    </nav>