$primary-color: #2f3b59;
$secondary-color: #ffab40;

.secondary-text{
    color: $secondary-color;
}
.italic{
    font-style: italic;
}
.text-center{
    text-align: center;
}
button.mat-primary{
    background: $secondary-color;
}
.mat-drawer-container{
    background: transparent;
    .mat-drawer{
        min-width: 250px;
    }
}
.details-section{
    display: grid;
    
    background: #f4f4f5;
    padding: 2rem;
    .map-section{
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-gap: 1rem;
        grid-auto-rows: 450px;
        overflow: hidden;
        border-bottom: 1px solid lighten( #000000, 50%);
        .mat-card{
            padding: 1.3rem;
        }
        .ng-fa-icon{
            color: $secondary-color;
            margin-right: .5rem;
            font-size: 1.2rem;
        }
    }
    h3{
        margin: 0;
        margin-top: 1rem;
        font-size: 2rem;
        color: $secondary-color;
    }
    small{
        font-size: .8rem;
        color: lighten( #000000, 50%);
    }
    .mat-card{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    p{
        i{
            color: $secondary-color;
        }
    }
}



.about-section{
    padding: 2rem;
    .section-header{
        margin-bottom: 1rem;
        background: $primary-color;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .info-section{
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-gap: 1rem;
        
        padding-top: 0;
        .details-panel{
            .mat-card{
                margin-bottom: 1rem;
                .title{
                    color: $secondary-color;
                }
                .menu{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 2rem;
                    &-title{
                        color: $secondary-color;
                        font-size: 1.3rem;
                    }
                    &-list{
                        &-item{
                            // margin-bottom: .7rem;
                            // border-bottom: solid 1px #ccc;
                            padding: .5rem;
                            p{
                                margin: 0;
                                font-size: 1.05rem;
                                font-weight: 500;
                            }
                            small{
                                font-style: italic;
                            }
                        }
                    }
                }
                .icons-menu{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .menu-icon{
                        width: 60px;
                        height: 60px;
                        background: $secondary-color;
                        color: #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        font-size: 1.5rem;
                    }
                }
            }
            
        }
        .info-panel{
            .mat-list{
                margin-bottom: 1rem;
            }
            .list-title{
                color: $secondary-color;
            }
            .list-heading{
                margin-bottom: 0;
                font-weight: 500;
            }
            .list-text-items{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
            .address-panel{
                padding: 1rem;
                margin-bottom: .5rem;
                &.primary{
                    background: $primary-color;
                }
                &.secondary{
                    background: $secondary-color
                }
                &-title{
                    color: #fff;
                }
                &-text{
                    color: #fff;
                }
            }
        }
    }
    
}


@media screen and (max-width: 768px){
    .details-section{
        .map-section{
            grid-template-columns: 8fr;
            grid-auto-rows: auto;
        }
    }
    .about-section{
        .info-section{
            grid-template-columns: 7fr;
            .details-panel{
                .mat-card{
                    .menu{
                        grid-template-columns: 2fr;
                    }
                }
            }
        }
    }
    
}